# Dependencies & builds
node_modules/
dist/
build/
.strapi/
*.tsbuildinfo

# Env & secrets
.env
.env.*
!.env.example

# Strapi local data
backend/.tmp/
backend/public/uploads/*
!backend/public/uploads/.gitkeep

# Logs & OS
*.log
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/*
!.vscode/extensions.json
